<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6339132216-n1anv5embh0v2iiqqu669e7t9dkqomt3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6339132216-n1anv5embh0v2iiqqu669e7t9dkqomt3</string>
	<key>API_KEY</key>
	<string>AIzaSyBaX7dLLzhA3wtyod1bu6KSyQeQj16L69o</string>
	<key>GCM_SENDER_ID</key>
	<string>6339132216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movies</string>
	<key>PROJECT_ID</key>
	<string>moviesapp-efeda</string>
	<key>STORAGE_BUCKET</key>
	<string>moviesapp-efeda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6339132216:ios:7c5dc545f9a2e3d55edfcd</string>
</dict>
</plist>